<web-app>
    <servlet>
        <servlet-class>com.Tssm.bscoer.CalculatorServlet</servlet-class>
        <servlet-name>CalculatorServlet</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalculatorServlet</servlet-name>
        <url-pattern>/calculate</url-pattern>
    </servlet-mapping>
</web-app>
